.glyphicon-address-action {
    margin: 0px 7px !important;
}

.glyphicon-address-action:hover {
    color: wheat;
}

.modal-body-no-padding {
    padding: 0px;
}

.panel-contragent {
    margin: 0px !important;
    border-radius: 0px !important;
    border-bottom: none !important;
}

#accordion {
    margin-bottom: 0px;
}