.table > tbody > tr > td {
     vertical-align: middle;
   text-align: center;   
}
.table > thead > tr > th {
   text-align: center;   
}

#add-contragent {
    margin-bottom: 10px;
    margin-top: 15px;
}

.table > tbody > tr > td > .btn {
    margin-left: 5px;
}